DATABASE_URL=sqlite:///./alertdb.sqlite3

SENDGRID_API_KEY=
ALERT_FROM_EMAIL=alerts@datasentinel.local

TEAMS_WEBHOOK_URL=

ALERT_WEBHOOK_URL=

CRITICAL_EMAIL_ENABLED=true
HIGH_EMAIL_ENABLED=true

CRITICAL_TEAMS_ENABLED=true
HIGH_TEAMS_ENABLED=true
